@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Base Light State */
body {
  @apply bg-slate-50 text-slate-900 transition-colors duration-500;
}

/* Global Dark State - Target body when HTML has .dark */
.dark body {
  @apply bg-slate-950 text-slate-100;
}